@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&family=Nunito+Sans:wght@900&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {

    nav {
        
        display: flex;
        padding: 15px;
        align-items: center;

        .logo {
            font-family: 'Montserrat', sans-serif, 'Nunito Sans', 'Roboto';
            color: rgb(0, 190, 190);
            font-size: 30px;
        }
        ul {
            display: flex;
            margin-left: 100px;

            li {
                padding: 10px;
                list-style: none;

                a {
                text-decoration: none;
                color: black;
                }
            }
        }
    }
}